@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

html,
body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: 'DM Mono', monospace;
}

h1 {
	position: relative;
	font-size: 4rem;
	text-align: center;
	z-index: 1;
}

saturday-timer {
	position: relative;
	z-index: 1;
}

svg {
	position: absolute;
	display: none;
	bottom: 0;
	z-index: 0;
}

#frame1,
#frame2,
#frame3 {
	animation-name: show;
	animation-duration: 100ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#frame1 {
	animation-delay: 0;
}

#frame2 {
	animation-delay: 33ms;
}

#frame3 {
	animation-delay: 66ms;
}

@keyframes show {
	from {
		opacity: 1;
	}

	32% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}

	to {
		opacity: 0;
	}
}
