@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

html,
body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: 'DM Mono', monospace;
}

h1 {
	font-size: 4rem;
	text-align: center;
}
